@import 'tailwindcss';

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

.wrapper-layout {
  background: #101010;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  background: yellowgreen;
}

.box-200 {
  width: 200px;
  height: 200px;
  background: yellowgreen;
}
